<% layout("layout/boilerplate")%>

<div class="m-3 " >
    <img class="d-block mx-auto " style="width: 75vw; height: 50vh" src="https://media.licdn.com/dms/image/C4D12AQEraGdLpF_frw/article-cover_image-shrink_720_1280/0/1520102068453?e=2147483647&v=beta&t=CgQDPkAno7GaC3jCUxHCn1z67NOpAGxVzg5HkVlojV0" alt=""  height="300"/>
    <h1 class="display-5 fw-bold text-body-emphasis" style="text-align: center;">Our Goal</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
    </div>
  </div>