<% layout("layout/boilerplate")%>

<div class="m-3 " >
    <img class="d-block mx-auto " style="height: 500px; border: 1px solid #198754; border-radius: 20px;" src="her0_img.jpg" alt=""  >
    <h1 class="display-5 fw-bold text-body-emphasis" style="text-align: center;">Seeds to Success: The Intelligent Inventory</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">SmartFarm Inventory Solution is a revolutionary platform designed to streamline farming activities for modern farmers like Steve. Offering real-time inventory tracking for seeds, tools, and resources, our intuitive interface ensures efficient management. Additionally, our system provides automated tool crafting suggestions, empowering farmers to maximize productivity and optimize their harvests with ease.</p>
    </div>
  </div>