<% layout("layout/boilerplate")%>

<div class="m-3 " >
    <img class="d-block mx-auto " style="width: 75vw; height: 50vh" src="https://media.licdn.com/dms/image/C4D12AQEraGdLpF_frw/article-cover_image-shrink_720_1280/0/1520102068453?e=2147483647&v=beta&t=CgQDPkAno7GaC3jCUxHCn1z67NOpAGxVzg5HkVlojV0" alt=""  height="300"/>
    <h1 class="display-5 fw-bold text-body-emphasis" style="text-align: center;">Our Goal</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">SmartFarm Inventory Solution is a revolutionary platform designed to streamline farming activities for modern farmers like Steve. Offering real-time inventory tracking for seeds, tools, and resources, our intuitive interface ensures efficient management. Additionally, our system provides automated tool crafting suggestions, empowering farmers to maximize productivity and optimize their harvests with ease.</p>
    </div>
  </div>