#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.container-body{
    flex:1;
    /* background-color: blue; */
}

.container{
    margin:0;
}

.container footer{
    width: 98vw;
    padding: 1rem;
}