<% layout("layout/boilerplate")%>

<div class="buyContainer">
    <div class="buyItem">
        <a href="/market"><button class="buyBtn">Go Back &larr; </button></a>
        <h3>Seller Name : Anirudh</h3>
        <a href="tel:+1234567890">
            <h4>Call Us: +1 (234) 567-890</h4>
        </a>
        <h3>Item : Apples</h3>
        <h3>Quantity : 10</h3>
        <h3>Total Price : $10</h3>
        <button class="payBtn">Pay Now &#128179;</button>
    </div>
</div>
